.icon-arrow-left {
  width: 7px;
  height: 14px;
}

.icon-arrow-right {
  width: 7px;
  height: 14px;
}

.icon-close {
  width: 20px;
  height: 20px;
}

.icon-facebook {
  width: 9px;
  height: 19px;
}

.icon-glukhanko {
  width: 14px;
  height: 14px;
}

.icon-input-phone {
  width: 16px;
  height: 18px;
}

.icon-input-user {
  width: 18px;
  height: 18px;
}

.icon-instagram {
  width: 17px;
  height: 17px;
}

.icon-location {
  width: 13px;
  height: 20px;
}

.icon-long-arrow-methods {
  width: 111px;
  height: 16px;
}

.icon-m-home {
  width: 11px;
  height: 11px;
}

.icon-menu {
  width: 22px;
  height: 9px;
}

.icon-phone {
  width: 8px;
  height: 20px;
}

.icon-problem {
  width: 11px;
  height: 15px;
}

.icon-scroll-arrow {
  width: 12px;
  height: 7px;
}

.icon-vkontakte {
  width: 21px;
  height: 11px;
}

.icon-youtube {
  width: 21px;
  height: 15px;
}

