doctype html
html
	head
		meta(charset="utf-8")
		title Блог
		include _parts/_head
	body.blog-p.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header-inner

		main.main
			.main__aside
				.aside-nav
					.aside-nav__item.is-active: a(href="#").aside-nav__link Показать все
					.aside-nav__item: a(href="#").aside-nav__link Новости
					.aside-nav__item: a(href="#").aside-nav__link Статьи

				.aside-social
					a(href="#").aside-social__link: +icon('instagram')
					a(href="#").aside-social__link: +icon('vkontakte')
					a(href="#").aside-social__link: +icon('facebook')
					a(href="#").aside-social__link: +icon('youtube')

			.main__section
				.container
					.main__breadcrumb
						.menu-breadcrumb
							.menu-breadcrumb__item
								a(href="#").menu-breadcrumb__link
									.visible-xs: +icon('m-home')
									span.hidden-xs Главная
							.menu-breadcrumb__item: span.menu-breadcrumb__link Блог
					
					.blog
						.blog__head
							.large__title Блог
						.blog-list
							a(href="#").blog-list__elem
								.blog-list__head
									span.blog-list__title Как работают индивидуальные ортопедические стельки?
									.blog-list__date 25.10.2017
								.blog-list__desc В настоящей главе рассмотрим типичные случаи, показания и технологию изготовления анатомических индивидуальных стелек. В активной жизни человек уже давно отошел от заложенного эволюцией стереотипа передвижения без дополнительных средств защиты стопы. Никто не может представить повседневную жизнь без туфель, кроссовок, быстро съемной обуви и др.
							a(href="#").blog-list__elem
								.blog-list__head
									span.blog-list__title Индивидуальные ортопедические стельки и заболевания позвоночника
									.blog-list__date 25.10.2017
								.blog-list__desc Позвоночный столб представляет собой сложный биомеханический комплекс включающий в себя множество сложных анатомических образований. Позвоночный столб — осевая структура организма, ответственная за вертикальное положение человека в пространстве. Последовательно соединенные между собой позвоночно двигательные сегменты дают возможность позвоночнику совершать целый ряд самых сложных движений.
							a(href="#").blog-list__elem
								.blog-list__head
									span.blog-list__title Реабилитация после пластики ПКС (передней крестообразной связки)
									.blog-list__date 25.10.2017
								.blog-list__desc Разрыв передней крестообразной связки (ПКС) достаточно частое повреждение, возникающее после травм коленного сустава. Как правило, это комбинированное повреждение в сочетании с разрывами менисков или других структур коленного сустава. В остром периоде или непосредственно после травмы ортопеды-травматологи в большинстве случаев придерживаются консервативной тактики лечения.
							a(href="#").blog-list__elem
								.blog-list__head
									span.blog-list__title Лечение и профилактика остеохондроза позвоночника
									.blog-list__date 25.10.2017
								.blog-list__desc Лечебный процесс зависит от фазы заболевания и того, насколько выраженными и необратимыми стали патологические изменения в организме. Для того чтобы принять правильное решение в плане лечебных мероприятий пациенту, как в общем и врачу, следует понимать — что нужно делать, в какие сроки и как делать.
							a(href="#").blog-list__elem
								.blog-list__head
									span.blog-list__title О важности комплекса реабилитации после травм и операций
									.blog-list__date 25.10.2017
								.blog-list__desc Денис Туголуков — врач ортопед-травматолог, руководитель программы реабилитации после травм и заболеваний опорно-двигательного аппарата медицинского центра «Евразия» рассуждает о важности реабилитационного комплекса в послеоперационный период
						.pager 
							a(href="#").pager__prev
								+icon('arrow-left')
								span Предыдущая
							ul.pager__list
								li.is-active: a(href="#") 1
								li: a(href="#") 2
								li: a(href="#") 3
								li: a(href="#") 4

							a(href="#").pager__next
								+icon('arrow-right')
								span Следующая


		
		include _parts/_footer

		include _parts/_scripts