doctype html
html
	head
		meta(charset="utf-8")
		title Главная
		include _parts/_head
	body
		div(style="max-width: 1280px; margin: 15% auto; padding: 0 40px;")
			ul(style="margin-bottom: 60px")
				li: a(href="main.html") Главная
				li: a(href="specialist.html") Специалисты
				li: a(href="specialist-inner.html") Специалист (Андрусенко Юлия Владимировна)
				li: a(href="methods.html") Методы лечения
				li: a(href="osteopathy.html") Остеопатия
				li: a(href="contacts.html") Контакты
				li: a(href="about.html") О клинике
				li: a(href="problems.html") Что мы лечим?
				li: a(href="reflexology.html") Рефлексотерапия
				li: a(href="physiotherapy.html") Физиотерапия
				li: a(href="lfk.html") Лечебная физкультура
				li: a(href="massage.html") Медицинский массаж
				li: a(href="blog.html") Блог
				li: a(href="blog-inner.html") Статья

		
