doctype html
html
	head
		meta(charset="utf-8")
		title Главная
		include _parts/_head
	body.index-p.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header

		main.wrap-main
			.wrap-overlay__line
			.wrap-main__info
				.wrap-main__title
					span 
						|Доверьте нам <br>
						|проблемы, <br>
						|которые никто <br>
						|не может решить
				.wrap-main__button
					a(href="methods.html").button.border-black
						.button__line.top
						.button__line.right
						.button__line.bottom
						.button__line.left
						span Наши методы лечения

			.wrap-main__slider.js-indexSwiper
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrap-main__slide
								.wrap-main__slide-bg(style="background-image: url('images/back/slide.jpg')")
								.wrap-main__slide-article
									a(href="#").wrap-main__article
										.wrap-main__article-title: span Как работают индивидуальные ортопедические стельки?
										.wrap-main__article-desc В настоящей главе рассмотрим типичные случаи, показания и технологию изготовления анатомических индивидуальных стелек. В активной жизни человек уже давно отошел от заложенного эволюцией стереотипа передвижения без дополнительных средств защиты стопы. Никто не может представить повседневную жизнь без туфель, кроссовок, быстро съемной обуви и др.
										.wrap-main__article-date 25.10.2017
								
						.swiper-slide
							.wrap-main__slide
								.wrap-main__slide-bg(style="background-image: url('images/back/slide_2.jpg')")
								.wrap-main__slide-article
									a(href="#").wrap-main__article
										.wrap-main__article-title: span Индивидуальные ортопедические стельки и заболевания позвоночника
										.wrap-main__article-desc Позвоночный столб представляет собой сложный биомеханический комплекс включающий в себя множество сложных анатомических образований. Позвоночный столб — осевая структура организма, ответственная за вертикальное положение человека в пространстве. Последовательно соединенные между собой позвоночно двигательные сегменты дают возможность позвоночнику совершать целый ряд самых сложных движений.
										.wrap-main__article-date 25.10.2017
						.swiper-slide
							.wrap-main__slide
								.wrap-main__slide-bg(style="background-image: url('images/back/slide_3.jpg')")
								.wrap-main__slide-article
									a(href="#").wrap-main__article
										.wrap-main__article-title: span Реабилитация после пластики ПКС (передней крестообразной связки)
										.wrap-main__article-desc Разрыв передней крестообразной связки (ПКС) достаточно частое повреждение, возникающее после травм коленного сустава. Как правило, это комбинированное повреждение в сочетании с разрывами менисков или других структур коленного сустава. В остром периоде или непосредственно после травмы ортопеды-травматологи в большинстве случаев придерживаются консервативной тактики лечения.
										.wrap-main__article-date 25.10.2017
						.swiper-slide
							.wrap-main__slide
								.wrap-main__slide-bg(style="background-image: url('images/back/slide_4.jpg')")
								.wrap-main__slide-article
									a(href="#").wrap-main__article
										.wrap-main__article-title: span Лечение и профилактика остеохондроза позвоночника
										.wrap-main__article-desc Лечебный процесс зависит от фазы заболевания и того, насколько выраженными и необратимыми стали патологические изменения в организме. Для того чтобы принять правильное решение в плане лечебных мероприятий пациенту, как в общем и врачу, следует понимать — что нужно делать, в какие сроки и как делать.
										.wrap-main__article-date 25.10.2017

				.wrap-main__slide-title: a(href="#") Показать все статьи

				.wrap-main__nav
					.wrap-main__nav-inner
						.wrap-main__buttons
							.wrap-main__button-prev: +icon('arrow-left')
							.wrap-main__button-next: +icon('arrow-right')

		
		include _parts/_scripts