doctype html
html
	head
		meta(charset="utf-8")
		title Медицинский массаж
		include _parts/_head
	body.methods-inner-p.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header-inner

		main.main
			.main__aside
				.aside-nav.js-scrollNav
					.aside-nav__item.is-active: a(href="#general").aside-nav__link Основные принципы
					.aside-nav__item: a(href="#triggerPoints").aside-nav__link Триггерные точки
					.aside-nav__item: a(href="#effectsMassage").aside-nav__link Лечебные эффекты массажа
					.aside-nav__item: a(href="#specialist").aside-nav__link Специалисты
					.aside-nav__item: a(href="#request").aside-nav__link Запись на прием
				
				.aside-social
					a(href="#").aside-social__link: +icon('instagram')
					a(href="#").aside-social__link: +icon('vkontakte')
					a(href="#").aside-social__link: +icon('facebook')
					a(href="#").aside-social__link: +icon('youtube')

			.main__section
				.container
					.main__breadcrumb
						.menu-breadcrumb
							.menu-breadcrumb__item
								a(href="#").menu-breadcrumb__link
									.visible-xs: +icon('m-home')
									span.hidden-xs Главная
							.menu-breadcrumb__item: a(href="#").menu-breadcrumb__link Методы лечения
							.menu-breadcrumb__item: span.menu-breadcrumb__link Медицинский массаж
				
				.methods-inner
					.methods-screen__first
						.container
							.methods-inner__title
								.large__title Медицинский <br>массаж
						
						.methods-inner__back(style="background-image: url('images/back/massage_back.jpg')")

					.methods-screen__second#general
						.container
							.methods-screen__text-style.physiotherapy--style
								p Все мы знаем и многие не раз чувствовали на себе благотворный эффект массажа.  В интернете и в книгах очень много литературы о пользе данной процедуры.  Давайте немного углубимся в процессы, которые протекают в костно-мышечной системе нашего организма на примере боли в спине.
								
								.methods-screen__image: img(src="images/tmp/massage_image.jpg")
								p Представим человека, который страдает от боли в позвоночнике - простая задача. При боли всегда будет  мышечное напряжение, отек тканей, уменьшение амплитуды движения.  Спазм сегментарных мышц (мелкие мышцы возле позвонков) неизбежно повлечет за собой смещение одного или нескольких позвонков и заблокирует их нормальное движение. Блокируется сегмент, поверхностные мышцы подстраиваются под возникшее напряжение сегментарной мускулатуры,  асимметрично меняется тонус, в мышцах возникают триггерные зоны.

						.container.methods--container#triggerPoints
							.medium__title триггерные зоны
							p Триггеры это такие зоны уплотнения внутри мышцы, которые позволяют сохранять напряжение всей мышцы постоянно. Острая боль проходит, на смену ей приходит хроническая ноющая, возможно отдающая в разные участки. А теперь представьте, что эта ситуация существует в теле годами, вовлекая в процесс и межпозвонковые диски и связочный аппарат позвоночника, и суставы, и вообще все. Мышечные волокна бывают напряжены так сильно, что прерывают собственное кровоснабжение. 

							p На приеме остеопата врач работает с нашими смещениями, убирает причину их возникновения и мы чувствуем себя лучше. Основная проблема в том, что зоны уплотнения, те самые триггеры, формировались в теле в течение длительного периода (даже не один год), и их структура  уже не позволяет устранить их за один сеанс у остеопата, а если с ними не поработать дополнительно на массаже, то проблема может вернуться через некоторое время. Теперь мы подходим к одному из наиболее значимых эффектов лечебного массажа. 
							.medium__title Массаж в клинике «Евразия»
							p Обычно назначают порядка 6-10 сеансов массажа для того чтобы вывести организм на новый уровень функционирования, редко 12-15. Это связано с тем,  что к массажу происходит привыкание и после 16 процедуры подряд  совершенно никакого эффекта оказываться на организм не будет. Часто после остеопатической коррекции в сочетании с курсом лечебного массажа, напряжения уходят либо полностью, либо значительно уменьшаются и не беспокоят больше их обладателя.  При давно существующей проблеме курс массажа желательно повторить через 3-4 месяца. 

							p В организме человека все связано со всем и поэтому комплексный подход всегда считался наиболее эффективным. Основой, безусловно, является массаж спины, так как там наибольшее количество напряжений в теле, Но так же эффективно работать и с нижними конечностями и вообще со всем телом. Наибольшего эффекта возможно добиться при сочетании массажа и остеопатии.


		
					.methods-screen__full.screen--back#effectsMassage
						.methods-screen__group
							.container
								.medium__title лечебные эффекты массажа
								
								.problems-row
									.problems-grid
										.problems-col
											.problems-list
												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Улучшение кровообращения
															+icon('problem')
														
												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Седативное воздействие на центральную нервную систему
															+icon('problem')

												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Улучшение регенерации кожи
															+icon('problem')

												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Повышение иммунитета и т. д.
															+icon('problem')
														
												
										.problems-col
											.problems-list
												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Улучшение циркуляции лимфы
															+icon('problem')
														
												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Ускорение обмена веществ
															+icon('problem')

												.problems-list__item
													.problems-list__label
														.problems-list__title 
															span Улучшение состояния подкожно-жировой клетчатки
															+icon('problem')
					
					
													
					.specialist-screen#specialist
						.container
							.medium__title Специалисты массажисты
							p У нас исключен «больничный» подход к массажу, когда у бедного массажиста до 30 человек в день, и он просто не способен делать массаж качественно. Во время сеанса массажа грамотный специалист нашего центра, точно определит зоны напряжения в теле, триггерные точки, и в течение всей процедуры будет прицельно работать с ними. Ведь очень важно, чтобы массаж был строго индивидуализирован и проводился именно и только так, как необходимо телу. 

							.specialist-grid.js-specialistGrid
								.specialist-col.js-specialistOsteopathy
									a(href="#").specialist-elem
										.specialist-elem__image: img(src="images/team/team6.png")
										.specialist-elem__title
											|Иванова<br> Наталья<br> Николаевна
											.specialist-elem__arrow: +icon('arrow-right') 
										.specialist-elem__post Физиотерапевт
								.specialist-col.js-specialistOsteopathy
									a(href="#").specialist-elem
										.specialist-elem__image: img(src="images/team/team8.png")
										.specialist-elem__title
											|Свистунова<br> Надежда<br> Владимировна
											.specialist-elem__arrow: +icon('arrow-right') 
										.specialist-elem__post Медсестра физиотерапии
								.specialist-col.js-specialistTraditional
									a(href="#").specialist-elem
										.specialist-elem__image: img(src="images/team/team4.png")
										.specialist-elem__title
											|Черненко<br> Игорь<br> Николаевич
											.specialist-elem__arrow: +icon('arrow-right') 
										.specialist-elem__post Ортопед УВТ

				.request-section#request
					.container
						.large__title Запись на&nbsp;прием
						form(action="#").request-form
							.fieldset
								input(type="text" placeholder="Представьтесь, пожалуйста").input
								.fieldset__icon: +icon('input-user')
							.fieldset
								input(type="tel" placeholder="Контактный телефон").input
								.fieldset__icon: +icon('input-phone')
							.fieldset__button.fieldset__flex
								button(type="submit").button.border-black
									.button__line.top
									.button__line.right
									.button__line.bottom
									.button__line.left
									|Отправить заявку
								.checkbox-item
									label.checkbox
										input(type="checkbox" checked)
										span Я согласен с <a href="#" target="_blank">политикой конфиденциальности</a>

		
		include _parts/_footer

		include _parts/_scripts