doctype html
html
	head
		meta(charset="utf-8")
		title Оcтеопатия
		include _parts/_head
	body.methods-inner-p.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header-inner

		main.main
			.main__aside
				.aside-nav.js-scrollNav
					.aside-nav__item.is-active: a(href="#general").aside-nav__link Основные принципы
					.aside-nav__item: a(href="#osteopathy").aside-nav__link Остеопатия и трад. медицина
					.aside-nav__item: a(href="#origin").aside-nav__link Зарождение остеопатии
					.aside-nav__item: a(href="#osteopathyRussia").aside-nav__link Остеопатия в россии
					.aside-nav__item: a(href="#").aside-nav__link.external Что лечит остеопатия
				
				.aside-social
					a(href="#").aside-social__link: +icon('instagram')
					a(href="#").aside-social__link: +icon('vkontakte')
					a(href="#").aside-social__link: +icon('facebook')
					a(href="#").aside-social__link: +icon('youtube')

			.main__section
				.container
					.main__breadcrumb
						.menu-breadcrumb
							.menu-breadcrumb__item
								a(href="#").menu-breadcrumb__link
									.visible-xs: +icon('m-home')
									span.hidden-xs Главная
							.menu-breadcrumb__item: a(href="#").menu-breadcrumb__link Методы лечения
							.menu-breadcrumb__item: span.menu-breadcrumb__link Оcтеопатия
				
				.methods-inner
					.methods-screen__first
						.container
							.methods-inner__title
								.large__title.
									Остеопатия<br> 
									это основной метод<br> 
									лечения в нашей<br> 
									клинике.

						.methods-inner__back(style="background-image: url('images/back/osteopathy_back.jpg')")

					.methods-screen__second#general
						.container
							p Это даже не метод или подход,<br> это целая наука о здоровье. Можно сказать иначе, что остеопатия – это медицина здоровья, которая опирается на концепцию лечения человека как единого целого и комплексное использование знаний целого ряда разделов медицины: анатомии, физиологии, биомеханики, эмбриологии, неонатологии, неврологии, ортопедии и др. 
							hr.hr.hidden-xs
							.methods-screen__image: img(src="images/tmp/osteo_image.png")
							p Остеопатические методики диагностики и<br> коррекции исключительно эффективны в лечении широкого круга нарушений здоровья. Они безопасны, неинвазивны, физиологичны. Зачастую, используя остеопатическое лечение, можно избежать хирургического вмешательства, снизить дозировку или даже отменить применение лекарственных средств. 
					
					.methods-screen__third#osteopathy
						.methods-screen__third-back(style="background-image: url('images/back/osteopathy_back_2.jpg')")
						.container
							.methods-screen__third-text
								.medium__title.
									Остеопатия<br> 
									и Традиционная<br>  
									медицина

								p Остеопатия не противопоставлена современной медицине. Мы называем остеопатию медициной здоровья, а классическую медицину – медициной болезни. Дело в том, что основа диагноза в современной аллопатической медицине – это констатация факта наличия болезни в организме. 

					.methods-screen__second.style--second
						.container
							.methods-screen__image: img(src="images/tmp/osteo_image_2.png")
							p Стоит лишь заглянуть в общепризнанный международный классификатор болезней (МКБ-10) и обратить внимание на принятые сегодня диагнозы: язвенная болезнь желудка и ДПК, артроз сустава, острое нарушение мозгового кровообращения, инфаркт миокарда и т.д. 

							p То есть болезнь появилась, развилась и пришла к какому-то финалу, который врачи могут объективизировать, установить диагноз и назначить лечение. Возникает вопрос – может стоило начать что-то делать до появления необратимых изменений в организме? 

							p Этим как раз и занимается<br> остеопатия.

					.methods-screen__history#origin
						.methods-screen__history-image(style="background-image: url('images/tmp/osteo_image_3_m.jpg')"): img(src="images/tmp/osteo_image_3.jpg")

						.container
							.methods-screen__history-text
								.medium__title Зарождение<br> остеопатии
								p Основоположник современной остеопатии Эндрю Тэйлор Стилл. Он был выдающимся человеком, который пережив личную трагедию, потеряв своих самых близких людей — супругу и&nbsp;детей от неизлечимой болезни, полностью разочаровался в современной на тот период медицине. 

					.methods-screen__fifth
						.container
							.methods-screen__flex
								.methods-screen__col
									p Он обратился к разуму и логике, к тем знаниям, которые были очевидны и лежали на поверхности, но были забыты врачами в постгаленовскую эпоху. Что человек это совершенная система и что эта система состоит из огромного количества очень важных деталей, но представляет собой единое целое. И в течении жизни, под влиянием множества факторов, в организме могут возникать сбои его функционирования разной степени серьезности, приводящие рано или поздно к поломке. А задача остеопата – выявить и устранить эти нарушения как можно раньше и дать возможность организму самому восстановить себя. 

								.methods-screen__col
									p Принципы, заложенные Стиллом<br> кажутся очень логичными и<br> естественными. 
									p Они говорят о том, что человек<br> – это единое целое. 
									p В лечении нужно устранять<br> не симптомы, а причины. 
									p Движение – это жизнь, поэтому<br> необходимо восстановить утраченное<br> движение ткани, органа, организма. 
									p Для самовосстановления организма<br> очень важно наладить адекватный<br> уровень иннервации и кровотока и т.д.

					.methods-screen__carousel#osteopathyRussia
						.container
							.methods-screen__head
								.medium__title Остеопатия в&nbsp;России
								p Остеопатия – очень молодая медицина. Ей немногим более 100 лет.<br> История остеопатии в России началась осенью 1991 года<br> с первого семинара по остеопатии, который провела Виола Фрайман. 

							.screen-carousel.js-historyCarouselSwiper
								.screen-carousel__nav
									.carousel-button.prev: +icon('arrow-left')
									.carousel-button.next: +icon('arrow-right')
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											.history__item
												.history__date 31 января
												.history__year 1994 г.
												.history__text В Санкт-Петербурге открылась первая Русская высшая школа остеопатической медицины (РВШОМ) под руководством Кравченко Тамары Ивановны. 
										.swiper-slide
											.history__item
												.history__date 2007 г.
												.history__year 1994 г.
												.history__text РВШОМ открыла свои двери первым студентам в г.Краснодаре. В этом же году, руководитель нашей клиники, доктор остеопатии Кальченко Андрей Вячеславович стал первым преподавателем структурального цикла в Краснодаре и ЮФО. 
										.swiper-slide
											.history__item
												.history__date 11 февраля
												.history__year 2011 г.
												.history__text В Краснодаре начал функционировать медицинский центр «Евразия», в дальнейшем получивший специализацию как остеопатический центр.
										.swiper-slide
											.history__item
												.history__date 31 января
												.history__year 1994 г.
												.history__text В Санкт-Петербурге открылась первая Русская высшая школа остеопатической медицины (РВШОМ) под руководством Кравченко Тамары Ивановны. 
										.swiper-slide
											.history__item
												.history__date 2007 г.
												.history__year 1994 г.
												.history__text РВШОМ открыла свои двери первым студентам в г.Краснодаре. В этом же году, руководитель нашей клиники, доктор остеопатии Кальченко Андрей Вячеславович стал первым преподавателем структурального цикла в Краснодаре и ЮФО. 
										.swiper-slide
											.history__item
												.history__date 11 февраля
												.history__year 2011 г.
												.history__text В Краснодаре начал функционировать медицинский центр «Евразия», в дальнейшем получивший специализацию как остеопатический центр.


				.request-section
					.container
						.large__title Запись на&nbsp;прием
						form(action="#").request-form
							.fieldset
								input(type="text" placeholder="Представьтесь, пожалуйста").input
								.fieldset__icon: +icon('input-user')
							.fieldset
								input(type="tel" placeholder="Контактный телефон").input
								.fieldset__icon: +icon('input-phone')
							.fieldset__button.fieldset__flex
								button(type="submit").button.border-black
									.button__line.top
									.button__line.right
									.button__line.bottom
									.button__line.left
									|Отправить заявку
								.checkbox-item
									label.checkbox
										input(type="checkbox" checked)
										span Я согласен с <a href="#" target="_blank">политикой конфиденциальности</a>

		
		include _parts/_footer

		include _parts/_scripts