doctype html
html
	head
		meta(charset="utf-8")
		title Рефлексотерапия
		include _parts/_head
	body.methods-inner-p.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header-inner

		main.main
			.main__aside
				.aside-nav.js-scrollNav
					.aside-nav__item.is-active: a(href="#westernView").aside-nav__link Западный взгляд
					.aside-nav__item: a(href="#chineseApproach").aside-nav__link Китайский подход
					.aside-nav__item: a(href="#medicalProperty").aside-nav__link Лечебные свойства
					.aside-nav__item: a(href="#mainIndications").aside-nav__link Основные показания
					.aside-nav__item: a(href="#specialist").aside-nav__link Специалисты
					.aside-nav__item: a(href="#request").aside-nav__link Запись на прием
				
				.aside-social
					a(href="#").aside-social__link: +icon('instagram')
					a(href="#").aside-social__link: +icon('vkontakte')
					a(href="#").aside-social__link: +icon('facebook')
					a(href="#").aside-social__link: +icon('youtube')

			.main__section
				.container
					.main__breadcrumb
						.menu-breadcrumb
							.menu-breadcrumb__item
								a(href="#").menu-breadcrumb__link
									.visible-xs: +icon('m-home')
									span.hidden-xs Главная
							.menu-breadcrumb__item: a(href="#").menu-breadcrumb__link Методы лечения
							.menu-breadcrumb__item: span.menu-breadcrumb__link Рефлексотерапия
				
				.methods-inner
					.methods-screen__first
						.container
							.methods-inner__title.title--reflexology
								.large__title.
									Рефлексотерапия<br>
									и традиционная<br>
									китайская медицица

						.methods-inner__back(style="background-image: url('images/back/reflexology_back.jpg')")

					.methods-screen__second
						.container
							.methods-screen__text-style
								p Иглорефлексотерапия – это метод воздействия на пациента при помощи укалывания определённых точек на его теле специальными металлическими иглами, изготовленными из стали или из других металлов (меди, золота, серебра). 
								
								.methods-screen__image: img(src="images/tmp/reflexology_image.jpg")
								p Иглотерапия является неотъемлимой частью Традиционной Китайской Медицины (ТКМ), наряду с такими методами, как традиционный китайский массаж (туйна), скобление скребком (гуаша), терапия вакуумными банками и фитотерапия (траволечение).

						.container.methods--container#westernView
							.medium__title Западный взгляд на иглорефлексотерапию
							p Само название «Иглорефлексотерапия» - это западное название восточного метода лечения. Также встречаются названия «иглоукалывание», «иглотерапия» и «акупунктура» (от лат. acus — игла и лат. punctura (pungo, pungere) — колоть, жалить). По представлениям западной науки, в основе лечебного действия этого метода лежит принцип рефлекторного воздействия, при котором нервная система реагирует на раздражение точки на теле. Попросту говоря, каждая точка на теле связанна с тем или иным образованием внутри тела (с мышцей, фасцией, органом и т. д.). Воздействуя на определённую точку тела, мы влияем на состояние структур внутри тела. Справедлива и обратная связь: при нарушении работы внутри тела изменяется состояние точек на теле. Они становятся или болезненными, или же напротив, менее чувствительными («онемевшими»). 

							p Метод иглотерапии начал внедрятся в западную медицину с начала XX века, а в 80-х годах  увлечение иглотерапией на Западе и в Советском Союзе достигло своего пика. В это же время была сделана большая часть исследований, призванных подтвердить эфективность метода и доказать, что метод не является ни гипнотическим воздействием, ни методом основанном на плацебо-эффекте. В конце 80-х годов во мноих странах метод был признан эффективным в лечении большого количества заболеваний и вошёл в список официально разрешённых. 

					.methods-screen__full#chineseApproach(style="background-image: url('images/back/reflexology_back_2.jpg')")
						.container
							.medium__title Китайский подход
							p По некоторым оценкам, лечение иглами практиковали в Древнем Китае уже 5000 лет назад. По-китайски метод называется «Чжень Цзю» терапия и переводится на русский язык как «укол иглой» («Чжень») и «прижигание» («Цзю»). Заключался метод в нанесении укола или ожога (прогревания) в определённые точки тела.

							p По мнению одних исследователей, метод был открыт случайно. Например, часто рассказывают историю о крестьянине, у которого долго болела голова. И после случайного удара тяпкой по ноге, она чудесным образом прошла. Есть другой вариант истории, в котором император страдал от головной боли. Упав с коня, он уколол ногу острым камнем – после чего головная боль прошла. Это так его поразило, что он приказал своим подчинённым по всей стране разбивать горшки и тарелки, укалывать себя в разные места острыми концами получившихся черепков и исследовать реакции. Такие эксперименты, за столетия своего проведения, привели к накоплению сотен и сотен закономерностей, которые нашли себе применение в лечении людей.

							p Другие исследователи метода иглотерапии считают, что невозможно было вывести столь сложные взаимосвязи, какие есть в иглотерапии, путём таких нехитрых простых экспериментов и наблюдений. Они считают, что знания китайцам об этом предмете были даны (кем-то) сразу во всей своей целостности и завершённости. С течением времени эти знания не усложнялись и развивались, а только утрачивались и деградировали. И то что мы имеем на сегодняшний момент - это только фрагменты когда-то существовавшей системы, которые сохранились в том или ином месте лучше или хуже. В общем, окончательного мнения на этот счёт нет.


					.methods-screen__full
						.container
							.medium__title Традиционная китайская медицина
							p Традиционная Китайская медицина (ТКМ), имеет многовековую историю, её истоки теряются в глубине тысячелетий (более 4500лет). Первые труды, обобщившие опыт предшествовавших поколений по применению методов диагностики и  лечения, появились в Китае очень давно. До нас дошли лишь сохранившиеся труды 5 – 3 в.в. до нашей эры. 

							p «Хуан Ди Ней Цзин Лин Шу Су Вэнь» – «Трактат Желтого Императора о Внутреннем с пояснениями и ответами». «Нань Цзин» – «Трактат о трудных вопросах медицины». «Бэнь Цао Гань Му» – «Сводная Фармакопея Ингредиентов и Рецептов ТКМ». «Шан Хань Лунь» – «Трактат о Поражении Холодом». «Цзинь Куй Яо Люе» – «Секреты Золотого Ларца» И многие другие.

							p На основе этих трактатов и была создана стройная теория ТКМ, методами лечения которой пользуются в настоящее время практически половина населения земного шара. Поэтому Китайскую медицину можно отнести к одной из мировых медицинских систем наряду с европейской медициной. Особенность медицинских систем состоит в том, что каждая из них имеет собственную теорию, собственную диагностику, собственную фармакологию и собственные методы лечения заболеваний. Европейский врач в своей повседневной практике сталкивается с теми же заболеваниями, что и его китайский коллега. Каждая из медицинских систем имеет свои преимущества и недостатки в лечении тех или иных заболеваний. Поэтому в настоящий момент назрела необходимость в синтезе этих медицинских систем. 

							p Знания ТКМ бережно хранились и приумножались тысячелетиями, передаваясь из поколения в поколения. Древние рецепты ТКМ эффективны в наши дни. Преимущество ТКМ состоит в том, что в диагностике и  лечении она опирается на индивидуальный подход к человеку. В ТКМ врач – это наставник и помощник пациента, он указывает ему путь к выздоровлению, направляя его усилия в нужное русло. Основное внимание врача ТКМ уделяется не патологии какого-либо органа, а общему состоянию пациента. Лечение направлено на оказание помощи в выздоровлении, или как минимум на улучшение качества жизни. Китайские пословицы гласят: «Забота о здоровье — лучшее лекарство», «Поздно копать колодец, когда захотелось пить», «Поздно ковать оружие, когда началась война». Китайская медицина дает возможность понять причины болезни еще до её прихода — когда болезнь только ступила на порог.

							p Врачу, владеющему методами ТКМ, для того чтобы провести диагностику и оценить состояние здоровья, достаточно посмотреть на пациента, на его язык (язык – это карта, где каждый участок, как индикатор, отображает состояние вполне определенного органа или системы), побеседовать, не упуская ни единой мелочи в разговоре с ним, в его внешнем виде, исследовать пульс. Кажется невероятным, что с помощью этих простых на первый взгляд действий можно не только  определить, болен человек или здоров, но и распознать состояние предболезни. А значит, грамотно и без вреда для организма устранить заболевания или предпосылки к ним. Для этого существует целый арсенал методов. Сегодня ТКМ опирается на фундамент из трёх китов: 
							
							.problems-row
								.problems-grid
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Фитотерапию, которая использует части растений, животных, насекомых, минералы
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Немедикаментозные методы лечения, в том числе массаж, банки, гимнастику
														+icon('problem')
													
											
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Чжень Цзю терапию – иглоукалывание, прижигание, кровопускание
														+icon('problem')
													
							
							.medium__title Запад-Китай: В чём различия?
							p Главное отличие китайского взгляда на иглорефлексотерапию от западного состоит в том, что китайцы признают существование дополнительной системы в организме – системы специальных каналов - Цзин Ло, при помощи которой организм интегрируется в единое целое, а так же встраивается в окружающую среду. В западной же науке к таким системам относят нервную, кровеносную, гормональную, соединительно-тканную системы, но не какую-то систему «тайных каналов».

							p Западная медицина, признавая реальность существования акупунктурных точек на теле человека, категорически не приемлет утверждения о наличии системы энергетических каналов – Цзин Ло. Отсюда и вытекают различия в медицинских подходах китайских и западных иглотерапевтов.

							p На Западе акупунктурные точки делятся на 3 основных группы:

							.problems-row
								.problems-grid
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Общие, влияющие на состояние организма в целом
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Местные, влияющие на состояние тканей недалеко от места укалывания
														+icon('problem')
													
											
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Сегментарные или органные, которые влияют преимущественно на ту или иную область тела или орган
														+icon('problem')
													

							p И ориентируясь на эту классификацию, идёт подбор акупунктурного рецепта (совокупности точек акупунктуры, используемых на сеансе иглотерапии).

							p В рамках классического китайского подхода акупунктурный рецепт подбирается учитывая сложную систему взаимосвязи каналов и их ответвлений Цзин Ло, теорию полярности Инь/Ян, теорию пяти состояний/движений У-син и других. На стороне этого подхода стоят тысячелетия практического опыта сотен известных и неизвестных врачей Китая и окружающих его стран (Вьетнама, Кореи, Японии).

							p На практике, многие западные врачи-иглотерапевты, даже не признавая реального существования каналов Цзин Ло, пользуются многими наработками своих восточных коллег, так как наблюдают гораздо лучшие результаты при применении классических подходов в иглотерпапии.
							p После внедрения в медицинскую практику Запада метода иглотерапии, появились направления, в рамках этого метода, которых не было в системе Восточной медицины, или же они были там малоразвиты. Речь идёт об методах Электроакупунктуры, Лазеропунктуры, Ухоиглотерапии или Ауриколотерапии. Последний метод развит на основе опыта народной медицины Европейских стран врачем Полем Ножье.

							ul 
								li И ориентируясь на эту классификацию, идёт подбор акупунктурного рецепта (совокупности точек акупунктуры, используемых на сеансе иглотерапии).

								li В рамках классического китайского подхода акупунктурный рецепт подбирается учитывая сложную систему взаимосвязи каналов и их ответвлений Цзин Ло, теорию полярности Инь/Ян, теорию пяти состояний/движений У-син и других. На стороне этого подхода стоят тысячелетия практического опыта сотен известных и неизвестных врачей Китая и окружающих его стран (Вьетнама, Кореи, Японии).

								li На практике, многие западные врачи-иглотерапевты, даже не признавая реального существования каналов Цзин Ло, пользуются многими наработками своих восточных коллег, так как наблюдают гораздо лучшие результаты при применении классических подходов в иглотерпапии.<br> После внедрения в медицинскую практику Запада метода иглотерапии, появились направления, в рамках этого метода, которых не было в системе Восточной медицины, или же они были там малоразвиты. Речь идёт об методах Электроакупунктуры, Лазеропунктуры, Ухоиглотерапии или Ауриколотерапии. Последний метод развит на основе опыта народной медицины Европейских стран врачем Полем Ножье.

							ol
								li И ориентируясь на эту классификацию, идёт подбор акупунктурного рецепта (совокупности точек акупунктуры, используемых на сеансе иглотерапии).

								li В рамках классического китайского подхода акупунктурный рецепт подбирается учитывая сложную систему взаимосвязи каналов и их ответвлений Цзин Ло, теорию полярности Инь/Ян, теорию пяти состояний/движений У-син и других. На стороне этого подхода стоят тысячелетия практического опыта сотен известных и неизвестных врачей Китая и окружающих его стран (Вьетнама, Кореи, Японии).

								li На практике, многие западные врачи-иглотерапевты, даже не признавая реального существования каналов Цзин Ло, пользуются многими наработками своих восточных коллег, так как наблюдают гораздо лучшие результаты при применении классических подходов в иглотерпапии.<br> После внедрения в медицинскую практику Запада метода иглотерапии, появились направления, в рамках этого метода, которых не было в системе Восточной медицины, или же они были там малоразвиты. Речь идёт об методах Электроакупунктуры, Лазеропунктуры, Ухоиглотерапии или Ауриколотерапии. Последний метод развит на основе опыта народной медицины Европейских стран врачем Полем Ножье.

							blockquote В рамках классического китайского подхода акупунктурный рецепт подбирается учитывая сложную систему взаимосвязи каналов и их ответвлений Цзин Ло, теорию полярности Инь/Ян, теорию пяти состояний/движений У-син и других. На стороне этого подхода стоят тысячелетия практического опыта <a href="#">сотен известных и неизвестных врачей Китая</a> и окружающих его стран (Вьетнама, Кореи, Японии).

							.image-grid
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example")
										.image-tile__caption Посттравматическое тейпирование
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example")
										.image-tile__caption Посттравматическое тейпирование
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example")
										.image-tile__caption Демонстрация эффективности применения лимфатического тейпирования при реабилитации после травмы
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example")
										.image-tile__caption Лимфатическое кинезиотейпирование при отёках верхних конечностей

							.medium__title Функциональное кинезиотейпирование (тейпирование мыщц)

							.image-grid
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_2")
										.image-tile__caption Функциональное кинезиотейпирование: Мультитейпинг шейного отдела позвоночника
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_2")
										.image-tile__caption Мультитейпинг грудного отдела позвоночника
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_2")
										.image-tile__caption Фиксация дельтавидной мышцы
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_2")
										.image-tile__caption Пример использования кинезиотейпирования для коррекции осанки. Функциональное тейпирование
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_2")
										.image-tile__caption Применение тейпиования для фиксации воротниковой зоны
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_2")
										.image-tile__caption Пример функционального тейпирования при плече-лопаточном переартрите

							p Главное отличие китайского взгляда на иглорефлексотерапию от западного состоит в том, что китайцы признают существование дополнительной системы в организме – системы специальных каналов - Цзин Ло, при помощи которой организм интегрируется в единое целое, а так же встраивается в окружающую среду. В западной же науке к таким системам относят нервную, кровеносную, гормональную, соединительно-тканную системы, но не какую-то систему «тайных каналов».

							p Западная медицина, признавая реальность существования акупунктурных точек на теле человека, категорически не приемлет утверждения о наличии системы энергетических каналов – Цзин Ло. Отсюда и вытекают различия в медицинских подходах китайских и западных иглотерапевтов.

							p На Западе акупунктурные точки делятся на 3 основных группы:

							.image-grid
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_3")
										.image-tile__caption Тейпирование связочного аппарата плечевого сустава
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_3")
										.image-tile__caption Укрепление связочного аппарата. Пример фиксации голеностопного сустава при помощи кинезиотейпирования
								.image-grid__col
									.image-tile
										a.image-tile__cover(href="images/tmp/Kin-4-big.jpg" style="background-image: url('images/tmp/Kin-4.jpg')" data-fancybox="example_3")
										.image-tile__caption Пример тейпирования лучезапястного сустава

							p Главное отличие китайского взгляда на иглорефлексотерапию от западного состоит в том, что китайцы признают существование дополнительной системы в организме – системы специальных каналов - Цзин Ло, при помощи которой организм интегрируется в единое целое, а так же встраивается в окружающую среду. В западной же науке к таким системам относят нервную, кровеносную, гормональную, соединительно-тканную системы, но не какую-то систему «тайных каналов».

							p Западная медицина, признавая реальность существования акупунктурных точек на теле человека, категорически не приемлет утверждения о наличии системы энергетических каналов – Цзин Ло. Отсюда и вытекают различия в медицинских подходах китайских и западных иглотерапевтов.

							p На Западе акупунктурные точки делятся на 3 основных группы:

							.wide-image
								img(src="images/tmp/wide_image.jpg")
								.wide-image__caption Тейпирование связочного аппарата плечевого сустава



					.methods-screen__full.screen--back#medicalProperty(style="background-image: url('images/back/reflexology_back_3.jpg')")
						.container
							.medium__title Чем Вам может помочь иглорефлексотерапия
							p Вот далеко не полный список лечебных эффектов иглорефлексотерапии:

							.problems-row
								.problems-grid
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Болеутоляющий
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Улучшение микроцеркуляции во многих органах и системахе
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Антиспастическое действие
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Антидепрессивное и седативное
														+icon('problem')
													
											
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Нормализация нейроэндокринных функций
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Нормализация артериального и венозного давлений
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Повышение иммунитета
														+icon('problem')
													

					.methods-screen__full#mainIndications
						.container
							.medium__title Основные показания для иглоукалывания:

							.problems-row
								.problems-grid
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Заболевания периферической нервной системы с чувствительными и двигательными нарушениями (радикулиты, невриты, невралгии, плекситы); периферический паралич лицевого нерва и невралгия тройничного нерва. 
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Вегетативно-сосудистая дистония по гипертоническому и гипотоническому типам.
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Вегетативно-сосудистые пароксизмы периферического генеза: симпато-ганглиониты, соляриты, болезнь Рейно, эритромелалгия, мигрень, болезнь Меньера.
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Эндокринные нарушения: легкие степени тиреотоксикоза, диабета, климактерические расстройства. 
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Дискинезия желудочно-кишечного тракта и желчных путей.
														+icon('problem')
													
											
									.problems-col
										.problems-list
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Неврозы: неврастения, истерия, неврозы с изолированным поражением отдельных нервных функций К этой же группе относятся: логоневроз, ночное недержание мочи, профессиональные дискинезии, половые расстройства у мужчин при неврастении, функциональные гиперкинезы; тик, блефароспазм. 
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Начальные проявления атеросклероза, эндартериита, ревматические васкулиты
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Вегетативно-сосудистые пароксизмы гипоталамического генеза. 
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Вазомоторно-аллергические состояния: крапивница, экзема, отек Квинке, вазомоторный ринит, бронхиальная астма, нейродермиты. 
														+icon('problem')
													
											.problems-list__item
												.problems-list__label
													.problems-list__title 
														span Заболевания опорно-двигательного аппарата, суставов, мышц обменного, ревматического и травматического происхождения.
														+icon('problem')
													

					.specialist-screen#specialist
						.container
							.medium__title Специалисты физиотерапевты
							p При профессиональном подходе, правильном назначении и следовании рекомендациям врача пациентом использование физиотерапевтических методов лечения абсолютно безопасно. Воздействие природными факторами физиологично, практически не вызывает негативных эффектов, приятно и эффективно. Прием ведут опытные специалисты, работающие в этом конкретном направлении уже более 10 лет.

							.specialist-grid.js-specialistGrid
								.specialist-col.js-specialistOsteopathy
									a(href="#").specialist-elem
										.specialist-elem__image: img(src="images/team/team6.png")
										.specialist-elem__title
											|Иванова<br> Наталья<br> Николаевна
											.specialist-elem__arrow: +icon('arrow-right') 
										.specialist-elem__post Физиотерапевт
								.specialist-col.js-specialistOsteopathy
									a(href="#").specialist-elem
										.specialist-elem__image: img(src="images/team/team8.png")
										.specialist-elem__title
											|Свистунова<br> Надежда<br> Владимировна
											.specialist-elem__arrow: +icon('arrow-right') 
										.specialist-elem__post Медсестра физиотерапии
								.specialist-col.js-specialistTraditional
									a(href="#").specialist-elem
										.specialist-elem__image: img(src="images/team/team4.png")
										.specialist-elem__title
											|Черненко<br> Игорь<br> Николаевич
											.specialist-elem__arrow: +icon('arrow-right') 
										.specialist-elem__post Ортопед УВТ

				.request-section#request
					.container
						.large__title Запись на&nbsp;прием
						form(action="#").request-form
							.fieldset
								input(type="text" placeholder="Представьтесь, пожалуйста").input
								.fieldset__icon: +icon('input-user')
							.fieldset
								input(type="tel" placeholder="Контактный телефон").input
								.fieldset__icon: +icon('input-phone')
							.fieldset__button.fieldset__flex
								button(type="submit").button.border-black
									.button__line.top
									.button__line.right
									.button__line.bottom
									.button__line.left
									|Отправить заявку
								.checkbox-item
									label.checkbox
										input(type="checkbox" checked)
										span Я согласен с <a href="#" target="_blank">политикой конфиденциальности</a>

		
		include _parts/_footer

		include _parts/_scripts