doctype html
html
	head
		meta(charset="utf-8")
		title Специалисты
		include _parts/_head
	body.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header-inner

		main.main
			.main__aside
				.aside-nav.js-specialistNav
					.aside-nav__item.is-active: a(href="javascript:;" data-filter="*").aside-nav__link Все Направления
					.aside-nav__item: a(href="javascript:;" data-filter=".js-specialistOsteopathy").aside-nav__link Остеопатия
					.aside-nav__item: a(href="javascript:;" data-filter=".js-specialistTraditional").aside-nav__link Традиционная Медицина
					.aside-nav__item: a(href="javascript:;" data-filter=".js-specialistMassage").aside-nav__link Массаж и ЛФК
					.aside-nav__item: a(href="javascript:;" data-filter=".js-specialistAdministration").aside-nav__link Администрация
				.aside-social
					a(href="#").aside-social__link: +icon('instagram')
					a(href="#").aside-social__link: +icon('vkontakte')
					a(href="#").aside-social__link: +icon('facebook')
					a(href="#").aside-social__link: +icon('youtube')

			.main__section
				.container
					.main__breadcrumb
						.menu-breadcrumb
							.menu-breadcrumb__item
								a(href="#").menu-breadcrumb__link
									.visible-xs: +icon('m-home')
									span.hidden-xs Главная
							.menu-breadcrumb__item: a(href="#").menu-breadcrumb__link Клиника
							.menu-breadcrumb__item: span.menu-breadcrumb__link Специалисты
					.main__content
						.article
							h1 Специалисты клиники
							p Мы гордимся своими специалистами. Наша клиника является по сути открытой, саморегулируемой системой. Это живой организм. Каждый Человек, работающий с нами, является профессионалом и личностью, способной относиться к другим людям с уважением и пониманием. 
							p В нашем центре приветствуются здоровые профессиональные амбиции, но они не идут в разрез с общечеловеческими ценностями. Болезнь делает человека уязвимым и ранимым, поэтому в нашем центре неприемлимы хамство и спекуляция здоровьем. Любое необдуманное слово, взгляд, жест могут причинить боль. Каждый наш сотрудник, от уборщицы до врача – это штучная единица. Это люди, которые приходят к нам не случайно и остаются надолго.

						.select-filter.visible-xs
							select.select.js-select.js-specialistSelect
								option(value="*") Все направления
								option(value=".js-specialistOsteopathy") Остеопатия
								option(value=".js-specialistTraditional") Традиционная Медицина
								option(value=".js-specialistMassage") Массаж и ЛФК
								option(value=".js-specialistAdministration") Администрация

						.specialist-grid.js-specialistGrid
							.specialist-col.js-specialistOsteopathy
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team.png" data-x2="images/team/team.png")
									.specialist-elem__title
										|Кальченко<br> Андрей <br>Вячеславович
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Остеопат
							.specialist-col.js-specialistOsteopathy
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team2.png")
									.specialist-elem__title
										|Февралёв<br> Михаил<br> Александрович
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Остеопат
							.specialist-col.js-specialistTraditional
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team3.png")
									.specialist-elem__title
										|Туголуков<br> Денис<br> Вячеславович 
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Ортопед
							.specialist-col.js-specialistTraditional
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team4.png")
									.specialist-elem__title
										|Черненко<br> Игорь<br> Николаевич 
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Ортопед УВТ
							.specialist-col.js-specialistMassage
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team5.png")
									.specialist-elem__title
										|Андрусенко<br> Юлия<br> Владимировна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Инструктор ЛФК, реабилитолог
							.specialist-col.js-specialistTraditional
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team6.png")
									.specialist-elem__title
										|Иванова<br> Наталья<br> Николаевна 
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Физиотерапевт
							.specialist-col.js-specialistOsteopathy
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team7.png")
									.specialist-elem__title
										|Мирошниченко<br> Евгения<br> Александровна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Остеопат
							.specialist-col.js-specialistTraditional
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team8.png")
									.specialist-elem__title
										|Свистунова<br> Надежда<br> Владимировна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Медсестра физиотерапии
							.specialist-col.js-specialistMassage
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team9.png")
									.specialist-elem__title
										|Бабенко<br> Светлана<br> Николаевна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Массажист
							.specialist-col.js-specialistOsteopathy
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team10.png")
									.specialist-elem__title
										|Самодуров<br> Адриан<br> Николаевич
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Остеопат
							.specialist-col.js-specialistTraditional
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team11.png")
									.specialist-elem__title
										|Кальченко<br> Алена<br> Александровна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Логопед
							.specialist-col.js-specialistAdministration
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team12.png")
									.specialist-elem__title
										|Иванова<br> Наталья<br> Алексеевна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Бухгалтер
							.specialist-col.js-specialistMassage
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team13.png")
									.specialist-elem__title
										|Рыбальченко<br> Антон<br> Владимирович
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Рефлексотерапевт, масажист
							.specialist-col.js-specialistAdministration
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team14.png")
									.specialist-elem__title
										|Новосельцева<br> Оксана<br> Александровна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Администратор
							.specialist-col.js-specialistAdministration
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team15.png")
									.specialist-elem__title
										|Козаченко<br> Тамара<br> Валерьевна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Администратор
							.specialist-col.js-specialistAdministration
								a(href="#").specialist-elem
									.specialist-elem__image: img(src="images/team/team16.png")
									.specialist-elem__title
										|Градева<br> Елена<br> Олеговна
										.specialist-elem__arrow: +icon('arrow-right') 
									.specialist-elem__post Технический директор, уборщица

				.text-section
					.container
						p Если вы разделяете наши ценности и желаете присоединиться к коллективу,<br> отправьте резюме на <a href="mailto:info@evrasiaclinic.ru">info@evrasiaclinic.ru</a>
						p Мы всегда открыты к новым профессиональным кадрам!

				.request-section
					.container
						.large__title Запись на прием
						form(action="#").request-form
							.fieldset
								input(type="text" placeholder="Представьтесь, пожалуйста").input
								.fieldset__icon: +icon('input-user')
							.fieldset
								input(type="tel" placeholder="Контактный телефон").input
								.fieldset__icon: +icon('input-phone')
							.fieldset__button.fieldset__flex
								button(type="submit").button.border-black
									.button__line.top
									.button__line.right
									.button__line.bottom
									.button__line.left
									|Отправить заявку
								.checkbox-item
									label.checkbox
										input(type="checkbox" checked)
										span Я согласен с <a href="#" target="_blank">политикой конфиденциальности</a>

		
		include _parts/_footer

		include _parts/_scripts