doctype html
html
	head
		meta(charset="utf-8")
		title Специалисты
		include _parts/_head
	body.animate
		//- for svg
		include ../svg/symbols/svg-symbols.svg
		//- mixin
		include _mixin/_import

		include _parts/_header-inner

		main.main
			.main__aside
				.aside-nav.js-scrollNav
					.aside-nav__item.is-active: a(href="#biography").aside-nav__link Биография
					.aside-nav__item: a(href="#documents").aside-nav__link Документы
					.aside-nav__item: a(href="#price").aside-nav__link Услуги и цены

				.aside-social
					a(href="#").aside-social__link: +icon('instagram')
					a(href="#").aside-social__link: +icon('vkontakte')
					a(href="#").aside-social__link: +icon('facebook')
					a(href="#").aside-social__link: +icon('youtube')

			.main__section
				.container
					.main__breadcrumb
						.menu-breadcrumb
							.menu-breadcrumb__item
								a(href="#").menu-breadcrumb__link
									.visible-xs: +icon('m-home')
									span.hidden-xs Главная
							.menu-breadcrumb__item: a(href="#").menu-breadcrumb__link Клиника
							.menu-breadcrumb__item: span.menu-breadcrumb__link Специалисты
				
					.specialist-inner
						.specialist-inner__info
							.large__title 
								|Андрусенко<br> 
								|Юлия<br> 
								|Владимировна

							p Инструктор ЛФК,<br> реабилитолог

							a(href="#" data-scroll="#requestSection").button.border-black.js-scrollLink
								.button__line.top
								.button__line.right
								.button__line.bottom
								.button__line.left
								span Записаться на прием

						.specialist-inner__back(style="background-image: url('images/back/team_back.jpg')")
							.container.specialist-inner__image: img(src="images/team/andrusenko.png")

				.info-section#biography
					.container
						table
							tr 
								td Окончила Кубанскую государственную академию физической культуры со специализацией ЛФК и лечебного массажа.
								td 1999
							tr 
								td Работала в прогимназии №132 инструктором по лечебной физической культуре.
								td 2001
							tr 
								td Имея медицинское образование, полученное в Институте высшего сестринского дела со специализацией – реабилитация, работала в Краснодарской Городской Больнице №1 инструктором по лечебной физической культуре – отделение травматологии.
								td 2004 – 2007
							tr 
								td Курсы повышения квалификации по реабилитации и ЛФК.
								td 2005
							tr 
								td Усовершенствования по реабилитации на различных семинарах
								td 2007 – 2011
							tr 
								td Преподавала курс «физического воспитания» в институте КИМПиМ. 
								td 2011 – 2013
							tr 
								td Прошла три семинара по программе «Применение кинезиотейпирования в спортивной и восстановительной медицине».
								td 2012
							tr 
								td Выступила первым организатором проведения семинара по кинезиотейпированию в городе Краснодаре.
								td 2012
							tr 
								td Принимала участие в различных научных конференциях.
								td 
							tr 
								td Является действующим членом Международной ассоциацией специалистов по терапевтическому тейпированию МАСТерТ. 
								td 2016

				.cert-section#documents
					.container
						.cert-grid
							.cert-col
								a.cert-item(href="images/tmp/cert_large.jpg" data-fancybox="cert")
									.cert-item__back(style="background-image: url('images/tmp/cert.jpg')")
							.cert-col
								a.cert-item(href="images/tmp/cert_large.jpg" data-fancybox="cert")
									.cert-item__back(style="background-image: url('images/tmp/cert.jpg')")
							.cert-col
								a.cert-item(href="images/tmp/cert_large.jpg" data-fancybox="cert")
									.cert-item__back(style="background-image: url('images/tmp/cert.jpg')")
							.cert-col
								a.cert-item(href="images/tmp/cert_large.jpg" data-fancybox="cert")
									.cert-item__back(style="background-image: url('images/tmp/cert.jpg')")
							.cert-col
								a.cert-item(href="images/tmp/cert2_large.jpg" data-fancybox="cert")
									.cert-item__back(style="background-image: url('images/tmp/cert2.jpg')")
							.cert-col
								a.cert-item(href="images/tmp/cert_large.jpg" data-fancybox="cert")
									.cert-item__back(style="background-image: url('images/tmp/cert.jpg')")

				.info-section#price
					.container
						table
							tr 
								td Прием ведущего врача остеопата (мануального терапевта)
								td 5000 руб.
							tr 
								td Прием ведущего врача остеопата (детский мануального терапевта)
								td 4000 руб.
							tr 
								td Лечебный массаж (30 мин)
								td 2000 руб.
							tr 
								td Прием ведущего врача остеопата (мануального терапевта)
								td 500 руб.
							tr 
								td Прием ведущего врача остеопата (детский мануального терапевта)
								td 4000 руб.
							tr 
								td Лечебный массаж (30 мин)
								td 2000 руб.
							tr 
								td Прием ведущего врача остеопата (мануального терапевта)
								td 500 руб.

				.request-section#requestSection
					.container
						.large__title Запись на&nbsp;прием
						form(action="#").request-form
							.fieldset
								input(type="text" placeholder="Представьтесь, пожалуйста").input
								.fieldset__icon: +icon('input-user')
							.fieldset
								input(type="tel" placeholder="Контактный телефон").input
								.fieldset__icon: +icon('input-phone')
							.fieldset__button.fieldset__flex
								button(type="submit").button.border-black
									.button__line.top
									.button__line.right
									.button__line.bottom
									.button__line.left
									|Отправить заявку
								.checkbox-item
									label.checkbox
										input(type="checkbox" checked)
										span Я согласен с <a href="#" target="_blank">политикой конфиденциальности</a>

		
		include _parts/_footer

		include _parts/_scripts