footer.footer
	.container
		.menu__main
			.menu__main-left
				.menu__nav
					.menu__nav-item: a(href="#").menu__nav-link: span Главная
					.menu__nav-item: a(href="#").menu__nav-link: span О клинике
					.menu__nav-item: a(href="#").menu__nav-link: span Специалисты
					.menu__nav-item: a(href="#").menu__nav-link: span Методы лечения
					.menu__nav-item: a(href="#").menu__nav-link: span Что мы лечим?
					.menu__nav-item: a(href="#").menu__nav-link: span Контакты
					.menu__nav-item: a(href="#").menu__nav-link: span Статьи

				.footer__social
					a(href="#").menu__social-link: +icon('instagram')
					a(href="#").menu__social-link: +icon('vkontakte')
					a(href="#").menu__social-link: +icon('facebook')
					a(href="#").menu__social-link: +icon('youtube')
			.menu__main-right
				.menu__phone: a(href="tel:78612921201") +7 (861) 292-12-01
				.menu__address.
					г. Краснодар,<br>
					ул. Яна Полуяна 55
		.menu__bottom
			.menu__info
				img(src="images/med.png" width="76")
				|Клиническая база Медицинской академии остеопатического <br class="menu__cert-br">образования. <br>
				|Лицензия № ЛО-23-01-010243 от 28 июня 2016 г.
			a(href="http://glukhanko.ru/" target="_blank").menu__dev
				|дизайн сайта<br>
				span.dev__link 
					|glukhanko.ru
					+icon('glukhanko')

include _modal