.modal#modalSuccess
	.modal__box
		.modal__head
			.large__title Заявка отправлена
			p Спасибо за ваше обращение!<br>Наши менеджеры свяжутся с вами в ближайшее время.
		.modal__button
			a(href="javascript:;").button.border-black.js-modalClose
				.button__line.top
				.button__line.right
				.button__line.bottom
				.button__line.left
				span Закрыть окно