.button 
	position: relative
	height: 55px
	font-size: 17px
	line-height: normal
	padding: 0 
	cursor: pointer
	background: transparent
	border: none
	outline: none
	font-weight: 400
	position: relative
	text-decoration: none
	user-select: none
	transition: .4s cubic-bezier(.165,.84,.44,1)

	@media (min-width: 768px)
		padding-left: 45px
		padding-right: 45px

	@media #{$mobile}
		height: 40px
		font-size: 14px
		padding: 0 20px

		&:active
			transform: scale(0.95)

	&.border-black
		color: #3c3735
		border: 1px solid #aaa5a2

		@media (min-width: 768px)
			&:hover
				color: #423d3b

				.button__line
					&.top,
					&.bottom
						width: calc(100% + 1px)

					&.left,
					&.right
						height: calc(100% + 1px)

			&:active
				opacity: 0.3

	&.border-gray
		color: #fff
		border: 1px solid #999491
		
		@media (min-width: 768px)
			.button__line
				background: #ffffff

			&:hover
				.button__line
					&.top,
					&.bottom
						width: calc(100% + 1px)

					&.left,
					&.right
						height: calc(100% + 1px)

			&:active
				opacity: 0.3

		@media #{$mobile}
			color: #3c3735
			border-color: #3c3735

	span 
		height: 100%
		display: flex
		align-items: center
		justify-content: center

.button__line
	position: absolute
	transition: .5s ease
	background: #423d3b

	&.top
		top: -1px
		left: -1px
		width: 0
		height: 1px

	&.right
		top: -1px
		right: -1px
		width: 1px
		height: 0

	&.bottom
		bottom: -1px
		right: -1px
		width: 0
		height: 1px

	&.left
		bottom: -1px
		left: -1px
		width: 1px
		height: 0

a.button
	display: inline-block

.fieldset
	position: relative
	margin-top: -1px

	&__icon
		width: 54px
		height: 54px
		position: absolute
		right: 0
		top: 0

		@media #{$mobile}
			display: none

		svg 
			+abscenter
			fill: #f0e9e3

	&__button
		margin-top: 55px

		@media #{$mobile}
			margin-top: 30px
			text-align: center

			.button
				width: 100%

				& + .fieldset__link
					margin-top: 15px

	&__flex
		display: flex
		align-items: center
		justify-content: space-between

		.checkbox-item
			margin-top: -1px

	&__checkbox
		margin-top: 40px

	&__link
		font-size: 17px
		color: #3c3735
		opacity: 0.3

		@media (min-width: 768px)
			&:not(:first-child)
				margin-left: 50px

		@media #{$mobile}
			font-size: 14px
			display: inline-block

input::-webkit-contacts-auto-fill-button
	visibility: hidden
	pointer-events: none
	position: absolute
	right: 0

input::-ms-clear
	width: 0
	height: 0

.error
	.input
		border-left: 1px solid transparent !important
		border-right: 1px solid transparent !important
		border-top: 1px solid #cccac8 !important
		border-bottom: 1px solid #cccac8 !important

		@media (min-width: 768px)
			+placeholder(#eb9b9b, 17px)

		@media #{$mobile}
			+placeholder(#eb9b9b, 14px)

	svg 
		fill: #eb9b9b

.input
	width: 100%
	height: 54px
	font-size: 17px
	padding-left: 15px
	padding-right: 40px
	position: relative
	background: transparent
	border-left: 1px solid transparent
	border-right: 1px solid transparent
	border-top: 1px solid #cccac8
	border-bottom: 1px solid #cccac8
	+placeholder(rgba(60, 55, 53, 0.3), 17px)
	transition: 300ms ease-out

	&:hover
		+placeholder(rgba(60, 55, 53, 0.5), 17px)

	&:focus
		border-color: #3c3735
		z-index: 2

	@media #{$mobile}
		height: 40px
		font-size: 14px
		padding-top: 2px
		padding-left: 10px
		padding-right: 10px
		+placeholder(rgba(60, 55, 53, 0.3), 14px)

.checkbox
	cursor: pointer
	font-size: 15px
	line-height: normal
	color: #7a7671
	min-height: 20px
	text-align: left
	display: inline-block
	padding-left: 40px
	position: relative

	@media (min-width: 768px)
		transition: 300ms ease-out
		
		&:hover
			
			span
				&:before
					background: #e3dbd3

		&:active
			opacity: 0.3

	@media #{$mobile}
		font-size: 13px

	span 
		display: inline-block
		transition: 300ms ease-out

		@media (min-width: 768px)
			padding-top: 2px

		&:before
			content: ""
			position: absolute
			left: 0
			top: -2px
			width: 25px
			height: 25px
			background: #f0e9e3
			transition: 300ms ease-out

			@media #{$mobile}
				top: 2px

		&:after
			content: ""
			position: absolute
			left: 6px
			top: 5px
			width: 14px
			height: 10px
			background: url('../images/tick.svg') no-repeat
			background-size: 100%
			opacity: 0
			transition: 300ms

			@media #{$mobile}
				top: 9px

	input 
		display: none

		&:checked + span 
			&:after
				opacity: 1

	a 
		color: #3c3735
		border-bottom: 1px solid #3c3735


[data-fancybox]
	outline: none

.fancybox-toolbar
	display: none !important


/*
 * Select
 */

.select
	height: 100%

	@media #{$mobile}
		width: 100%

	&.opened
		.jq-selectbox__trigger
			transform: rotate(180deg)

	.jq-selectbox__select
		height: 40px
		cursor: pointer
		color: #3c3735
		font-size: 14px
		line-height: 1
		padding-left: 15px
		text-transform: uppercase
		display: flex
		align-items: center
		border: 1px solid #dddcd9
		transition: 300ms ease-out
		
		@media #{$mobile}
			font-size: 13px
			padding-top: 2px

	.jq-selectbox__select-text
		width: calc(100% - 40px) !important
		+to

	.jq-selectbox__trigger
		width: 10px
		height: 5px
		position: absolute
		right: 15px
		top: 0
		bottom: 0
		margin: auto
		background: url('../images/scroll-arrow.svg') no-repeat
		background-size: 100%
		
	.jq-selectbox__dropdown
		width: 100% !important
		left: 0
		right: 0
		font-size: 14px
		color: #414649
		text-transform: uppercase
		background: #ffffff
		border: 1px solid #e5e5e5
		border-top: none
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15)

		li 
			padding: 15px
			cursor: pointer
			border-bottom: 1px solid #e5e5e5
			transition: 300ms ease-out

			&:last-child
				border-bottom: none

			&.sel 
				display: none !important

			@media (min-width: 768px)
				&:hover
					background: #f7f7f9

				&:active
					color: #c0c2c4

			@media #{$mobile}
				font-size: 13px
				color: #3c3735
				padding: 10px 15px