/*
 * Footer
 */

.footer
	position: relative
	background: #736f6e
	padding: 80px 0 10px 365px 

	@media (min-width: 768px)
		.menu__main
			margin-bottom: 80px

		.menu__nav
			font-size: 30px

			&-link
				&:before
					bottom: 4px

		.menu__dev
			position: absolute
			right: 50px
			bottom: 55px

		&__social
			display: none

	@media #{$mobile}
		padding: 40px 0

		.menu__main
			margin-bottom: 45px

		.menu__nav
			color: #fff

		&__social
			margin-top: 35px
			display: flex
			align-items: center
			justify-content: center
			border-top: 1px solid #8b8887
			border-bottom: 1px solid #8b8887

			svg 
				fill: #beb8b4

		.menu__main-right
			padding-top: 30px

		.menu__phone
			font-size: 28px
			color: #f0e9e3
			font-weight: 300
			letter-spacing: -1px
			white-space: nowrap

		.menu__address
			color: #ffffff

		.menu__bottom
			display: block
			padding-bottom: 0

		.menu__info
			display: block
			font-size: 13px
			line-height: 19px
			margin-bottom: 20px

			br 
				display: none

			img 
				display: block
				margin-bottom: 20px
		
		.menu__dev
			font-size: 13px

			br 
				display: none



.dev__link
	// @media (min-width: 768px)
	// 	svg 
	// 		display: none

	@media #{$mobile}
		position: relative
		margin-left: 5px

		&:before
			content: ":"
			position: absolute
			left: -8px
			top: -2px

		&:after
			content: ""
			display: block
			position: absolute
			right: -28px
			top: 0
			bottom: 0
			margin: auto
			width: 20px
			height: 1px
			background: rgba(255,255,255,.15)

		svg 
			fill: rgba(255,255,255,.15)
			position: absolute
			right: -50px
			top: 0
			bottom: 0
			margin: auto

	

