/*
 * Menu
 */

body    
	&.is-menu-open
		.menu 
			display: block

			&:before
				width: 100%
				transition: 1200ms 0ms cubic-bezier(.165,.84,.44,1)

			// &__container
			// 	opacity: 1
		
		@media (min-width: 768px)
			.menu__back
				width: 365px

			.header__contact
				opacity: 0
				visibility: hidden
				transition: 300ms

			.menu__main-left
				width: 360px

			.menu__phone
				width: 290px

			.menu__request
				width: 250px

			.menu__top,
			.menu__bottom,
			.menu__address
				opacity: 1
				transform: translate3d(0, 0, 0)

	@media #{$mobile}
		&.is-menu-open
			.header
				&:after
					content: ""
					position: absolute
					top: 0
					left: 0
					right: 0
					height: 10px
					background: #fff

			.menu__back
				height: 100%

			.menu__container,
			.menu__social
				opacity: 1

			.menu__nav-item,
			.menu__phone,
			.menu__address,
			.menu__request
				opacity: 1
				transform: translate3d(0, 0, 0)

		&:not(.is-menu-open)
			.header
				&.header--inner
					.logo
						padding-left: 35px

					.logo__icon,
					.logo__text
						display: none

					.header__burger
						right: auto
						left: 5px
	
	&.is-form-open
		.menu__form
			visibility: visible
			opacity: 1

			.request-section
				opacity: 1
				transform: translate3d(0, 0, 0)
				transition: 800ms 200ms cubic-bezier(.165,.84,.44,1)

.menu 
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 365px
	padding: 0 155px
	z-index: 9
	display: none

	@media (min-width: 768px)
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 0
			background: #736f6e
			transition: 1200ms 2000ms cubic-bezier(.165,.84,.44,1)

		&__back
			width: 0
			position: absolute
			top: 0
			bottom: 0
			left: 0
			overflow: hidden
			transform: translate3d(-100%, 0, 0)
			pointer-events: none
			transition: 1200ms cubic-bezier(.165,.84,.44,1)

			&-inner
				width: 365px
				height: 100%
				+backcover

		.menu__main-left,
		.menu__phone
			width: 0
			overflow: hidden
			transition: 1200ms 400ms cubic-bezier(.165,.84,.44,1) 
		
		.menu__nav
			width: 360px
		
		.menu__main-right,
		.menu__phone a
			width: 290px

		.menu__address
			opacity: 0
			transform: translate3d(0, 40px, 0)
			transition: 1200ms 400ms cubic-bezier(.165,.84,.44,1) 

		.menu__bottom
			opacity: 0
			transition: 1200ms 400ms cubic-bezier(.165,.84,.44,1)
			transform: translate3d(0, 100px, 0)

	@media (max-width: 1400px)
		padding: 0 100px

	@media #{$mobile}
		padding: 0
		left: 0
		overflow: auto
		padding: 10px 10px
		// background: #fff

		&__back
			position: fixed
			top: 0
			left: 0
			right: 0
			height: 0
			background: #fff
			transition: 800ms cubic-bezier(.165,.84,.44,1) 
		
		.menu__nav-item,
		.menu__address,
		.menu__phone,
		.menu__request
			opacity: 0
			transform: translate3d(0, -20px, 0)
		
		.menu__nav-item
			transition: 1000ms 1000ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(2)
				transition: 1000ms 1050ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(3)
				transition: 1000ms 1100ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(4)
				transition: 1000ms 1150ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(5)
				transition: 1000ms 1200ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(6)
				transition: 1000ms 1250ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(7)
				transition: 1000ms 1300ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(8)
				transition: 1000ms 1350ms cubic-bezier(.165,.84,.44,1) 
			&:nth-child(9)
				transition: 1000ms 1400ms cubic-bezier(.165,.84,.44,1) 

		.menu__request
			transition: 1000ms 1300ms cubic-bezier(.165,.84,.44,1) 

		.menu__phone
			transition: 1000ms 1400ms cubic-bezier(.165,.84,.44,1) 

		.menu__address
			transition: 1000ms 1500ms cubic-bezier(.165,.84,.44,1) 

		@media (max-height: 520px)
			.menu__phone,
			.menu__address
				display: none
	
	&__container
		max-width: 1100px
		position: relative
		z-index: 2
		margin: auto
		// opacity: 0

		@media (min-width: 768px)
			height: 100%
			display: flex
			justify-content: space-between
			flex-direction: column
			// transition: 400ms 800ms ease-out

		@media #{$mobile}
			min-height: 100%
			padding: 75px 45px 90px
			border: 1px solid #cfcdc9
			border-top: none
			opacity: 0
			transition: 800ms 600ms cubic-bezier(.165,.84,.44,1) 

	&__top
		width: 100%
		padding-top: 60px

		@media (min-width: 768px)
			opacity: 0
			transition: 1200ms 400ms cubic-bezier(.165,.84,.44,1)
			transform: translate3d(0, -100px, 0)

		@media #{$mobile}
			display: none

	&-breadcrumb
		font-size: 13px
		line-height: 1
		text-transform: uppercase
		display: flex

		@media #{$mobile}
			font-size: 10px
			border-bottom: 1px solid #ecebea

		&__item
			@media (min-width: 768px)
				padding-bottom: 20px
				border-bottom: 1px solid rgba(255, 255, 255, 0.1)

			@media #{$mobile}
				&:first-child
					.menu-breadcrumb__link
						padding-left: 15px
						padding-top: 3px

			& + .menu-breadcrumb__item
				padding-left: 10px

		&__link
			display: flex
			align-items: center
			padding-top: 2px
			color: rgba(255, 255, 255, 0.3)

			@media #{$mobile}
				height: 25px
			
			&:after
				content: ""
				width: 4px
				height: 6px
				background: url('../images/nav-arrow.svg') no-repeat
				opacity: 0.1
				margin-left: 10px

			svg 
				fill: rgba(60, 55, 53, 0.3)

	&__main
		@media (min-width: 768px)
			display: flex
			justify-content: space-between

		&-right
			position: relative

			@media #{$mobile}
				padding-top: 86px

				@media (max-height: 520px)
					padding-top: 65px

	&__nav
		font-size: 40px
		line-height: normal
		color: #fff
		font-family: 'NewBaskerville'

		@media #{$mobile}
			font-size: 25px
			color: #3c3735

		&-item
			&:not(:last-child)
				// margin-bottom: 5px

				// @media #{$mobile}
				// 	margin-bottom: 4px

		&-link
			@media (min-width: 768px)
				position: relative
				transition: 600ms cubic-bezier(.165,.84,.44,1)

				&:before
					content: ""
					position: absolute
					bottom: 7px
					height: 11px
					width: 0
					background: #9c9593
					transition: 600ms cubic-bezier(.165,.84,.44,1)
				
				&:hover
					&:before
						width: 100%

				&:active
					opacity: 0.3

				span 
					position: relative


	&__phone
		font-size: 35px
		color: #f0e9e3
		font-weight: 300
		margin-bottom: 25px

		a 
			display: block

		@media #{$mobile}
			font-size: 15px
			font-weight: 400
			margin-bottom: 15px
			color: #7a7671

	&__address
		font-size: 17px
		line-height: 21px
		color: #ffffff

		@media #{$mobile}
			font-size: 15px
			line-height: normal
			color: #7a7671

	&__request
		width: 250px
		position: absolute
		bottom: 0
		left: 0

		@media (min-width: 768px)
			width: 0
			overflow: hidden
			transition: 800ms 700ms cubic-bezier(.165,.84,.44,1)

		@media #{$mobile}
			width: 100%
			// top: 25px
			top: 20px
			bottom: auto

		.button 
			width: 100%

			@media (min-width: 768px)
				width: 250px
	
	&__bottom
		font-size: 15px
		line-height: 19px
		padding-bottom: 45px
		display: flex
		align-items: center
		justify-content: space-between

		@media #{$mobile}
			display: none

	&__info
		color: rgba(255, 255, 255, 0.3)
		display: flex
		align-items: center

		@media (min-width: 768px) and (max-width: 1360px)
			.menu__cert-br
				display: block

			br
				display: none

		img 
			margin-right: 45px

	&__dev
		position: relative
		color: rgba(255, 255, 255, 0.15)

		@media (min-width: 768px)
			transition: 600ms cubic-bezier(.165,.84,.44,1)

			&:before
				content: ""
				position: absolute
				right: 0
				top: 0
				bottom: 0
				margin: auto
				width: 55px
				height: 55px
				border: 1px solid #999491
				border-radius: 50%
				transition: 600ms cubic-bezier(.165,.84,.44,1)
				opacity: 0
				transform: scale(0.9)

			svg 
				fill: #999491
				position: absolute
				top: 0
				bottom: 0
				right: 20px
				margin: auto
				transition: 600ms cubic-bezier(.165,.84,.44,1)
				opacity: 0
				transform: scale(0.9)

			&:hover
				color: rgba(255, 255, 255, 0.6)
				padding-right: 75px


				&:before,
				svg 
					opacity: 1
					transform: scale(1)

			&:active
				color: rgba(255, 255, 255, 0.1)

				&:before,
				svg 
					opacity: 0.3

	&__social
		height: 60px
		position: absolute
		bottom: 0
		left: 0
		right: 0
		display: flex
		align-items: center
		justify-content: center
		border-top: 1px solid #cfcdc9

		@media (min-width: 768px)
			display: none

		@media #{$mobile}
			opacity: 0
			transition: 1200ms 1500ms cubic-bezier(.165,.84,.44,1) 

		&-link
			width: 45px
			height: 60px
			display: block
			position: relative

			svg 
				+abscenter
				fill: #d8d7d7
				stroke: transparent

	&__form
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: #fff
		z-index: 10
		opacity: 0
		visibility: hidden
		transition: 800ms cubic-bezier(.165,.84,.44,1)

		@media (min-width: 768px)
			display: flex
			align-items: center
			justify-content: center

		@media #{$mobile}
			min-height: 425px
			left: 11px
			right: 11px
			bottom: 71px
			padding: 70px 45px 0

		.request-section
			width: 100%
			max-width: 750px
			opacity: 0
			display: block
			transition: 800ms 0 cubic-bezier(.165,.84,.44,1)
			transform: translate3d(0, 20px, 0)

	&__cert-br
		display: none

a.menu-breadcrumb__link
	@media (min-width: 768px)
		transition: 300ms ease-out

		&:hover
			color: rgba(255, 255, 255, 0.6)

		&:active
			color: rgba(255, 255, 255, 0.1)