@font-face {
    font-family: "NewBaskerville";
    src: url("../fonts/NewBaskerville.eot");
    src: url("../fonts/NewBaskerville.eot?#iefix")format("embedded-opentype"),
    url("../fonts/NewBaskerville.woff2") format('woff2'),
    url("../fonts/NewBaskerville.woff") format("woff"),
    url("../fonts/NewBaskerville.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GillSans";
    src: url("../fonts/GillSansC.eot");
    src: url("../fonts/GillSansC.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GillSansC.woff2") format('woff2'),
    url("../fonts/GillSansC.woff") format("woff"),
    url("../fonts/GillSansC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "GillSans";
    src: url("../fonts/GillSans-SemiBold.eot");
    src: url("../fonts/GillSans-SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GillSans-SemiBold.woff2") format('woff2'),
    url("../fonts/GillSans-SemiBold.woff") format("woff"),
    url("../fonts/GillSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "GillSans";
    src: url("../fonts/GillSansLightC.eot");
    src: url("../fonts/GillSansLightC.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GillSansLightC.woff2") format('woff2'),
    url("../fonts/GillSansLightC.woff") format("woff"),
    url("../fonts/GillSansLightC.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
